body{
    padding: 0;
    margin: 0;
}
.row{
    width: 101.1%;
}
.top-div{
    background-color: rgb(0, 76, 255);
}
.col-md-12{
    background-color: rgb(45, 45, 115);
}
.card{
    padding-left: 4%;
}
.card h1{
    color: #fff;
    margin: 10% 0 1% 0;
    font-size: 9rem;
    font-family: 'Times New Roman', Times, serif;
}
.card p{
    color: #fff;
    font-size: 1.1rem;
}
.col-md-4{
    margin: -15% 0 3% 57%;
}