body{
    padding: 0;
    margin: 0;
}
.row{
    width: 101%;
}
.col-md-12{
    background: fixed rgb(10, 0, 27);
}
.card{
    padding-left: 4%;
}
.card h1{
    color: #fff;
    margin: 10% 0 1% 0;
    font-size: 9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
.card p{
    color: #fff;
    font-size: 1.1rem;
}
.col-md-4{
    margin: -15% 0 3% 57%;
}
@media only screen and (max-width:767px){

.row{
    width: 105.4%;
    margin: 0;
    padding: 0;
}
.cv-image{
    margin-top: 17%;
    margin-left: -55%;
}
.card h1{
    font-size: 3rem;
    text-align: center;
}
.card p{
    padding-top: 1.5rem;
    font-size: 1.1rem;
}
}
