body{
    padding: 0;
    margin: 0;
}
/* .col-md-12{
    background: fixed rgb(10, 0, 27);
    padding-bottom: 6%;
} */
.card{
    padding-left: 3%;
    background: fixed rgb(10, 0, 27);
    padding-bottom: 6%;
}
.card h1{
    color: #fff;
    margin: -22% 0 0 0;
    font-size: 9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
.card p{
    color: #fff;
    font-size: 1.1rem;
}
.card-image{
    margin: 12% 12% 0 0;
    text-align: right;
}
@media only screen and (max-width:767px){
.card{
    padding: 0;
    margin: 0;
}
.card-image{
   margin: 7% 0 25% -4%;
   width: 90%;
}
.card h1{
    font-size: 3rem;
    text-align: center;
}
.card p{
    padding: 0.5rem 0 0 0.2rem;
    font-size: 1rem;
}
}
